<% include ../partials/header %>

<% include ../partials/navbar %>

<div class="container">
    <div class="row">
        <h1 class="center">Are you sure you want to delete your profile? <br> This cannot be undone.</h1>
        
        <div style="width:30%; margin: 30px auto; text-align: center;">
            <form action="/users/<%=user._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger" style="margin-bottom:5px;"><i class="fas fa-trash-alt"></i> Yes, Delete my Profile</button>
            </form>
            <a href="/users/<%=user._id%>">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>